<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- displays site properly based on user's device -->

  <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">
  
  <title>Frontend Mentor | Tip calculator app</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap" rel="stylesheet"> 
  <link rel="stylesheet" href="css/index.css">
</head>
<body>
  <div id="app">
    <div>
      <img class="imgLogo" src="images/logo.svg" alt="logo">
    </div>
    
    <div class="contenedor">
      <div class="bloque1">
        <div class="sectionBill">
          <label for="bill">Bill</label>
          <input type="number" id="bill" placeholder="0" v-model="bill">
          <span><img src="images/icon-dollar.svg" alt="icon-dollar"></span>
        </div>

        <div class="seccionPorcentaje">
          <label class="label">Select Tip {{ computedPorcent }}<label :class="{dnone : radio != ''}">%</label></label>
          <div :class="{selected : radio == '5%'}"><input type="radio" id="5" name="porcentaje" class="input" value="5%" v-model="radio"><label for="5">5%</label></div>
          <div :class="{selected : radio == '10%'}"><input type="radio" id="10" name="porcentaje" class="input" value="10%" v-model="radio"><label for="10">10%</label></div>
          <div :class="{selected : radio == '15%'}"><input type="radio" id="15" name="porcentaje" class="input" value="15%" v-model="radio"><label for="15">15%</label></div>
          <div :class="{selected : radio == '25%'}"><input type="radio" id="25" name="porcentaje" class="input" value="25%" v-model="radio"><label for="25">25%</label></div>
          <div :class="{selected : radio == '50%'}"><input type="radio" id="50" name="porcentaje" class="input" value="50%" v-model="radio"><label for="50">50%</label></div>
          <div class="custom"><input type="number" class="txtCustom" placeholder="Custom" v-model="pcustom"></div>
        </div>

        <div class="sectionPersonas">
          <span><img src="images/icon-person.svg" alt="icon-person"></span>
          <label for="numPersonas">Number of People</label>
          <label class="nozero" :class="{}">Can't be zero</label>
          <input type="number" id="numPersonas" placeholder="0" v-model="numPerson">
        </div>
      </div>

      <div class="bloque2">
        <div class="subBloque">
          <label><span>Tip Amount</span><br>/ person</label>
          <label class="span"> ${{ computedTipAmoun }} </label>
        </div>

        <div class="subBloque pos2">
          <label><span>Total</span><br>/ person</label>
          <label class="span"> ${{ computedTotPerson }} </label>
        </div>

        <button @click="reset">Reset</button>
      </div>
    </div>
  </div>
  
  <div class="attribution">
    Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>. 
    Coded by <a href="https://github.com/jyokarianlia/tipCalculatorApp.git">jyokarianlia</a>.
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  <script src="js/index.js"></script>
</body>
</html>